<ion-view title="Forgot Password" >
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-content has-header="true" padding="true">
        <p>
            Enter your email address and we'll send you a link to reset your password.
        </p>
        <div class="list inset">
            <div class="item item-icon-left item-borderless item-text-wrap"
                 ng-show="alerts.errors.length">
                <i class="icon ion-android-warning"></i>
                <h3 ng-repeat="error in alerts.errors">{{error}}</h3>
            </div>
            <div class="item item-icon-left item-borderless item-text-wrap"
                 ng-show="alerts.success.length">
                <i class="icon ion-checkmark"></i>
                <h3 ng-repeat="successMessage in alerts.success">{{successMessage}}</h3>
            </div>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email"
                       ng-model="data.email" placeholder="name@example.com"/>
            </label>
        </div>
        <button class="button button-block button-positive"
                ng-click="resetPassword()">Reset Password</button>
    </ion-content>
</ion-view>